<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookMark</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d9082766a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/portafolio_Bookmark.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css//sidebar.css" asp-append-version="true" /> 
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-color box-shadow mb-3 nav-color">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Descubrir</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="MisLibros">Mis libros</a>
                        </li>

                    </ul> 
                    <!--Texbox y boton de busqueda-->
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" id="search-box" placeholder="Titulo o Autor..." />
                        <button id="search" class="btn btn-primary" onclick=""> 
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <partial name="_LoginPartial" />
                    <!--Boton para abir sidebar-->
                    <button class="btn navbar-dark " id="hamburger" type="button" data-bs-toggle="offcanvas" data-bs-target="#MenuNavegacion">
                        <span id="hamburger" class="navbar-toggler-icon"></span>
                    </button> 

                </div>
            </div>

        </nav>
        <!--offcavas sidebar-->
        <div id="MenuNavegacion" class="offcanvas offcanvas-end offcanvas-color">
            <div class="offcanvas-header">

                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>

            </div>
            <div class="offcanvas-body">
                <div class="row">
                    <div class="list-group">
                        <div class="modal-header justify-content-center border-0 p-4">
                            <figure class="d-inline-flex flex-column align-items-center m-0">
                                <img class="rounded-circle float-top " src="https://es.gravatar.com/userimage/3890878/26e5ee1b5d2703e9580d47bab83c0723.png?size=200" width="150">
                                <figcaption class="mt-2">Usuario</figcaption>
                                <figcaption class="mt-2">CorreoU@correo.correo </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-body text-uppercase px-0 py-4 flex-1">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item ">
                            <a href="#" class="nav-link fa-solid fa-book-bookmark">

                                Desafio de Lectura
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link fa-solid fa-gear ">
                                Configuracion
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer justify-content-start border-0 p-3">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item ">
                            <a href="#" class="nav-link fa-solid fa-arrow-right-from-bracket">
                                Logout
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
         

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> 
    <script src="~/js/busqueda.js" asp-append-version="true"> </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

