@using Microsoft.AspNetCore.Identity
@using Portafolio_Bookmark.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
 <div> 
         <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css//sidebar.css" asp-append-version="true" />
    </div>
<ul class="navbar-nav"> 
   
@if (SignInManager.IsSignedIn(User))
{
 
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Crear cuenta</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Iniciar sesion</a>
    </li>
}
</ul>
