<div class="book-list">
    <!--Texbox y boton de busqueda-->
    <div class="d-flex abs-center">
        <input class="form-control me-2  texbox" type="text" id="search-box" placeholder="Titulo o Autor..." />
        <button id="search" class="btn btn-light colorbtn" onclick="">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <hr />

  
     
     
      
     
     
     


      
     
     
     
     

     
    <hr />
    <div id="list-output" class="">
        <div class="row">
            <!-- card  -->

        </div>

    </div>
</div>

@section scripts{
 <script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/js/index.js"></script>
}