<div class="book-list">
    <h2 class="text-center">Search Result</h2>
    <div id="list-output" class="">
        <div class="row">
            <!-- card  -->

        </div>

    </div>
</div>
<script src="~/js/busqueda.js" asp-append-version="true"> </script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/index.js"></script>