<div class="book-list">
    <h2 class="text-center">Resultado de la busqueda</h2>
    <div id="list-output" class="">
        <div class="row">
            <!-- card  -->

        </div>

    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/index.js"></script>