<div class="book-list">
    <!--Texbox y boton de busqueda-->
    <div class="d-flex abs-center">
        <input class="form-control me-2  texbox" type="text" id="search-box" placeholder="Titulo o Autor..." />
       <button id="search" class="btn btn-light colorbtn" onclick="">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <hr />

    <h2 class="text-center colortext" align="center"><img src="~/img/Book-Row-PNG-HD.png" class="libro1" />  Resultado de la busqueda  <img  style="transform: scaleX(-1)" src="~/img/Book-Row-PNG-HD.png" class="libro2" /> </h2>

    <hr />
    <div id="list-output" class="row">
        <!-- card  -->
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css">
    <script src="~/js/FnBuscar.js"></script>

}