@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d9082766a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/portafolio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css//sidebar.css" asp-append-version="true" />
</head>
<div class="book-list">
    <hr />
    <h2 class="text-center colortext" align="center"><img src="~/img/Book-Row-PNG-HD.png" class="libro1" />  Descubrir Libros  <img src="~/img/Book-Row-PNG-HD.png" class="libro2" /> </h2>
    <hr />
    <!--Menu NAV para categorias descubrir-->
    <div class"row">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-color box-shadow mb-3 nav-color">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">


                    <ul class="navbar-nav flex-grow-1">
                       
                        <li class="nav-item">
                            <select id="descubrirSelect" class="form-select descubrirC" aria-label="Default select example">
                                <option selected value="aleatorio">aleatorio</option>
                                <option value="Fiction">Fiction</option>
                                <option value="photography">Photography</option>
                                <option value="Artistic">Artistic</option> 
                                <option value="law">Law</option> 
                                <option value="classic">Classic</option> 
                                <option value="comic">Comic</option> 
                                <option value="crime">Crime</option> 
                                <option value="fantasy">Fantasy</option> 
                                <option value="graphic novel">Graphic novel</option> 
                                <option value="science">Science</option> 
                                <option value="computer">Computers</option>
                            </select>
                        </li>
                         <li class="nav-item">
                           <button type="button" class="btn btn-primary" id="descubrir">Descubrir</button>
                        </li>
                    </ul>



                </div>
            </div>

        </nav>
    </div>
    <!--Mostrar libros-->
    <div id="list-output" class="">
        <div class="row">
            <!-- card  -->

        </div>

    </div>
</div>

@section scripts{
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/FnDbLibro.js"></script>
}