@{
    ViewData["Title"] = "Mis Libros";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d9082766a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/portafolio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css//sidebar.css" asp-append-version="true" />
</head>
<div class="d-flex abs-center">
    <input class="form-control me-2  texbox" type="text" id="search-box2" placeholder="Titulo o id" />
    <button id="search2" class="btn btn-primary colorbtn">
        <i class="fas fa-search"></i>
    </button>
</div>
<hr />
<div class="container-fluid">

    <div class="row">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cubierta</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Puntaje</th>
                    <th scope="col">Reseña</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de Termino</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

    </div>

</div>