.offcanvas-color {
background: #607B7D;
}
.li {
    
    list-style: none;
    font-size: 12px;
    font-style: normal;
}
.ul {
    list-style: none;
    font-size: 12px;
    font-style: normal;
}

.fa {
    position: absolute;
    padding: 11px;
    right: 1px;
}
.closecolor{ 
    color: white;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
}