html {
    font-size: 14px;
    
}
btn {
    text-decoration: none;
}
@media (min-width: 768px) {
    html {
        font-family: karla;
        font-size: 16px;
    }
}
text-light { 
    text-decoration: none;
}
h3 {
    color: white;
}
p {
    color: white;
}
li:hover {
    color: white;
    cursor: pointer;
}
a:hover {
    color: white;
    cursor: pointer;
}
.nav-link, .nav:hover {
    color: white;
   
    cursor: pointer;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    
    background-color: #607B7D;
}

li, ul {
    list-style: none;
    color: white;
}

.imgRedonda {
    width: 100px;
    height: 100px;
    border-radius: 150px;
}

color {
    background-color: #607B7D
}

html {
    position: relative;
    min-height: 100%;
    font-family: karla;
}

body {
    background-color: #3A606E;
    margin-bottom: 60px;
}

h1 {
    color: white;
}

p {
    color: white;
}

.br {
    color: black;
    background-color: black;
}

a, span {
    color: black;
}

.card-personalizada {
    width: 300px;
    height: 600px;
}

hr {
    color: white;
}

.texbox {
    width: 400px;
}

.colortext {
    color: white;
}

.colorbtn {
    background-color: #607B7D;
    border-color: white;
}

.abs-center {
    align-items: center;
    justify-content: center;
}
.cardC {
    justify-content: center;
}
.libro1 {
    width: 300px;
    height: 100px; 
 
} 

.libro2 {
    width: 300px;
    height: 100px;
}
.btn-primary {
    background-color: #607B7D;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.dataTables_wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}